TON_NETWORK=testnet
ESCROW_ADDRESS=UQB32u8KyV9ddFO0Mi34DMCSGiupNot2yfM4Nu8YIVERfrY9
# Optional:
# USDT_JETTON_MASTER=
# TONAPI_KEY=
# MIN_FEE_USDT=0.2
# FEE_THRESHOLD_USDT=15
# FEE_BPS_USDT=500
# MIN_FEE_TON=0.02
# FEE_THRESHOLD_TON=15
# FEE_BPS_TON=500

